@import "../../styles/variables.module.scss";

.content {
  max-width: 1920px;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include media-md {
    flex-direction: initial;
    justify-content: initial;
    overflow: scroll;
    padding: 0;
    padding: 80px 16px;
  }
  @include media-sm {
    padding: 0px 10px;
  }
}
.header {
  width: 100%;
}
.router {
  &:hover {
    background: #0e375e;
  }
}
.active {
  background: #0e375e;
}
