@import "../../styles/variables.module.scss";

.content {
  max-width: 1920px;
  width: 100%;
  margin: 40px auto 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include media-md {
    flex-direction: initial;
    justify-content: initial;
    overflow: scroll;
    padding: 0;
    margin: 80px 16px;
  }
}
.header {
  width: 100%;
}
.router {
  &:hover {
    background: #0e375e;
  }
}
.active {
  background: #0e375e;
}
