@import "../../../styles/variables.module.scss";

.container {
  display: flex;
  overflow-x: auto;
  @include media-md {
    display: inherit;
    max-height: 490px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 30px;
  }
  .containerItems {
    max-width: 250px;
    max-height: 280px;
    min-width: 250px;
    min-height: 280px;
    border: 1px solid $gray85;
    border-radius: 10px;
    padding: 20px 10px 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-md {
      margin-top: 10px;
      min-width: 200px;
      min-height: 230px;
      width: 200px;
      height: 230px;
    }
    h2 {
      width: 100%;
      font-weight: bold;
      overflow: hidden;
      word-break: break-all;
      height: calc(100% - 59px);
      font-size: clamp(16px, 1.6vw, 20px);
    }
    .settings {
      display: flex;
      justify-content: center;
      & > i {
        width: 25px;
        height: 25px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #001529;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background-color: #001529;
          color: white;
        }
      }
    }
  }
}
