@import "../../styles/variables.module.scss";

.item {
  max-width: 250px;
  max-height: 280px;
  min-width: 250px;
  min-height: 280px;
  border: 1px solid $gray85;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  @include media-md{
    min-width: 200px;
    min-height: 230px;
    width: 200px;
    height: 230px;
  }
  & > span {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001529;
    border-radius: 50%;
    &:hover {
      background-color: #0a2d4e;
    }
    svg path {
      fill: white;
    }
  }
}
